<div class="store" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<div class="store-banner" [style.padding-bottom.px]="bannerHeight">
		<!-- Store Logo -->
		<div class="store-logo mat-elevation-z3" [appColor]="themingService.bg.lighten(.2)" [isBackground]="true">
			<div class="logo-image"></div>
		</div>

		<!-- Store Heading -->
		<div class="store-heading">
			<div class="store-heading-content" [appColor]="themingService.bg.opaquer(-.85).darken(.1)" [isBackground]="true">
				<div class="promo-title">
					<mat-icon [style.color]="themingService.colors.app_subscriber">star</mat-icon>
					<mat-divider [vertical]="true"></mat-divider>
					<p>Become a 7TV Suscriber!</p>
				</div>
				<div class="promo-description">
					<span>Get some cool cosmetic perks, additional functionality and support the development</span>
				</div>
			</div>
		</div>
		<div class="store-heading-gradient" #gradient></div>
	</div>

	<div class="store-content">
		<app-store-subscribe></app-store-subscribe>
	</div>
</div>