.store {
	display: block;
	height: 100%;
}

$logosize: 18vw;
.store-banner {
	.store-logo {
		z-index: 3;
		position: absolute;
		right: 0;
		margin-top: 2em;
		margin-right: 2em;
		border-radius: 1em;
		border-bottom-left-radius: 25%;
		border-top-right-radius: 25%;

		.logo-image {
			background-size: 100%;
			width: $logosize;
			height: $logosize;
			max-width: 256px;
			max-height: 256px;
			background-image: url("/assets/brand/7tv-gold.webp");

		}
	}

	.store-heading {
		position: absolute;
		z-index: 2;
		margin-top: 2em;
		margin-left: 1em;
		margin-right: 16em;
		padding: 1em;
		width: 100%;

		.store-heading-content {
			z-index: 5 !important;
			max-width: 22.5rem;
			border-radius: 8px;
			padding: 1em;

			.promo-title {
				display: flex;
				flex-direction: row;
				align-items: center;

				mat-divider {
					height: 3.5em;
					margin-right: 1em;
					margin-left: 1em;
				}
				mat-icon {
					transform: scale(2);
					margin-bottom: .25em;
				}
			}

			p {
				line-height: 1em;
				font-size: 2.5em;
				text-shadow: 1px 1px rgb(32, 32, 32);
			}
			span {
				text-shadow: 1px 1px rgb(32, 32, 32);
			}
		}
	}

	.store-heading-gradient {
		z-index: 1 !important;
		position: absolute;
		top: -130px;

		left: -164px;
		height: 28em;
		width: 200%;
		transform: rotate(-2deg);

		background: linear-gradient(-22.5deg, #cca411, #f7f7f7b4, #cca411);
		background-size: 400% 400%;
		animation: gradient 14s ease-in-out infinite;

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
	}


	@media screen and (min-width: 3250px) {
		.store-heading-gradient {
			top: -225px;
		}
	}
}
